
<%= form_for [@group, @task] do |form| %> 
  <% if @group %>
    <%= form.hidden_field :group_id, value: @group.id %>
  <% end %>
  <%= render 'layouts/error_messages', model: form.object%>



  <div class="taskform">


    <div class="left content">
      <div class="form-item select">
        <p>Task Name</p>
        <%= form.text_field :taskname, id: "taskname", class: "form-style" %>
      </div>

      <div class="form-item select">
        <p>Description</p>
        <%= form.text_area :description, id: "description", class: "form-style"  %>
      </div>

      <div class="form-item select">
        <p>Priority</p>
        <%= form.select :priority, Task.priorities.keys, prompt: "Select Priority" %>
      </div>

      <div class="form-item select">
        <p>Status</p>
        <%= form.select :status, Task.statuses.keys, prompt: "Select Status" %>

      </div>
    </div>

    <div class="right content">
      <div class="form-item select">
          <p>Deadline</p>
          <%= form.date_field :deadline %>
      </div>

      <div class="form-item select">
          <p>Labels</p>
          <div class="checkbox">
            <%= form.collection_check_boxes :label_ids, Label.all, :id, :color %>
          </div>
      </div>

      <div class="form-item select">
          <p>File</p>
          <label>
            <div class="border">Attach Image</div>
            <%= form.file_field :image, class: "file",accept: 'image/jpeg, image/png'%>
          </label>
      </div>
      
      <div class="form-item select">
        <% if @task.image.attached? %>
          <%= image_tag @task.image, class: 'image', id: :img_prev %>
        <% else %>
          <%= image_tag asset_path("notselected.png"), class: 'image', id: :img_prev %>
        <% end %>
      </div>

        <%= form.submit "Save", class:"login save" %>
    </div>


  </div>
<% end %>


