  <div class="form">
    <%= form_with(model: task, local: true) do |form| %>

     <%= render 'layouts/error_messages', model: form.object%>

      <p>Task Name</p><%= form.text_field :taskname %>
      <p>Description</p><%= form.text_area :description %>
      <p>Priority</p><%= form.select :priority, Task.priorities.keys, :selected=>Task.priorities[@task.priority], prompt: "Select Priority" %>
      <p>Status</p><%= form.select :status, Task.statuses.keys, :selected=>Task.statuses[@task.status], prompt: "Select Status" %>
      <p>Deadline</p><%= form.date_field :deadline %>
      <p>Labels</p><%= form.collection_check_boxes :label_ids, Label.all, :id, :color %>
      <p>File</p><%= form.file_field :image %>
      <%= image_tag @task.image if @task.image.attached? %>

      <div class="save">
        <%= form.submit "Save" %>
      </div>
    <% end %>
  </div>


