<div class="container top">
    <% if logged_in? %>
    <div class="container__task common">
    <div class="new">
      <%= link_to new_task_path do %>
        <div class="plus">
          <i class="fas fa-plus"></i>
        </div>
      <% end %>
    </div>
    <div class="search form-item">
      <%= form_with(local: true, method: :get, class: "search-form") do |form| %>
        <p class="formLabel">タスクを検索する</p>
        <%= form.text_field :keyword, class: "search-input form-style"%>
      <% end %>
    </div>

 
        <%= link_to tasks_path(format: :csv), class:"icon export" do%>
        <i i class="fas fa-file-upload"></i>
        <% end %>
 


      <%= form_tag import_tasks_path, multipart: true, class:"icon import" do %>
        <%= button_tag '<i class="fas fa-file-download"></i>'.html_safe %>
          <label>
            <p class="select">Select</p>
            <%= file_field_tag :file, class: 'csv' %>
          </label>
      <% end %>

    <table class="tasks table-sortable">
      <thead>
        <tr>
          <th>Label</th>
          <th id="taskname"><%= sortable "taskname", "Name of Task" %></th>
          <th>Status</th>
          <th><%= sortable "deadline", "Deadline" %></th>
          <th><%= sortable "created_at", "Created_at" %></th>
          <th>Manage</th>
        </tr>
      </thead>
    <tbody>
    <% @tasks.each do |task| %>
        <%= content_tag "tr", class: "item", data: { model_name: task.class.name.underscore, update_url: task_sort_path(task)} do %>
          <td>
            <% task.labels.each do |label| %>
              <%= label.color %>
            <% end %>
          </td>
          <td><%= task.taskname %></td>
          <td><%= task.status %></td>
          <td><%= task.deadline %></td>
          <td><%= task.created_at %></td>
          <td>
            <%= link_to 'Edit', "/tasks/#{task.id}/edit", method: :get %>
            <%= link_to 'Detail', task_path(task.id) %>
            <%= link_to 'Delete', task_path(task.id), method: :delete, id: :delete %>
          </td>
    <% end %>
    <% end %>
    </tbody>
    </table>

    <div class="pagenate">
        <%= paginate(@tasks)%>
    </div>


    </div>

  <div class="container__graph common">
    <%= render 'layouts/graph'%>
  </div>


    <% else %>
      <div class="before">
        <section class="top">
          <div class="message">Manage your day with <br><span>Task App</span></div>
          <div class="btns">
            <%= link_to "Login", login_path, method: :get, class: :btn %>
            <%= link_to "Signup", new_admin_user_path, class: :btn %>
          </div>
        </section>
        <section class="middle">
          <div class="description">
            <div class="message">
              <p class="movetext">With Task App,<br>
              Priotize your tasks, and<br>
              Save your time</p><br>
            </div>
          </div>
          <div class="video">
            <%= video_tag("/assets/videos/sample.mp4", :controls => true, :loop => true, class: :video ) %>
            <%#= image_tag asset_path("video.png") %>

          </div>
         
        </section>


        <section class="bottom">
          <div class="hero">
            <!-- Slider main container -->
            <div class="swiper-container">
              <!-- Additional required wrapper -->
              <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                  <div class="hero__title">Manage by Calendar</div>
                  <%= image_tag asset_path("image-1.png") %>
                </div>
                <div class="swiper-slide">
                  <div class="hero__title">Visualize your Tasks</div>
                  <%= image_tag asset_path("image-2.png") %>
                </div>
                <div class="swiper-slide">
                  <div class="hero__title">Sharing Tasks with Others</div> 
                  <%= image_tag asset_path("image-3.png") %>
                </div>
              </div>

            </div>
          </div>

        </section>
        <%= render 'layouts/footer'%>
      </div>
    <% end %>
</div>
