<div class="container">
  <div class="temp">
    <% if current_user %>
      <p>
        TOP
      </p>
      <%= link_to "Logout", logout_path, method: :delete %>
      <% if current_user.admin? %>
        <%= link_to "ユーザー一覧", admin_users_path %>
      <% end %>
    <div class="new">
      <%= link_to new_task_path do %>
        <%= image_tag 'plus.png' %>
      <% end %>
    </div>

    <div class="search">
    <%= form_with(local: true, method: :get, class: "search-form") do |form| %>
      <%= form.text_field :keyword, placeholder: "タスクを検索する", class: "search-input" %>
    <% end %>
    </div>


    <table class="tasks">
      <thead>
        <tr>
          <th>Label</th>
          <th id="taskname"><%= sortable "taskname", "Name of Task" %></th>
          <th>Status</th>
          <th><%= sortable "deadline", "Deadline" %></th>
          <th><%= sortable "created_at", "Created_at" %></th>
          <th>Manage</th>
        </tr>
      </thead>
    <% @tasks.each do |task| %>
      <% if current_user.id == task.user_id %>
      <tbody>
        <tr>
          <td>
            <% task.labels.each do |label| %>
              <%= label.color %>
            <% end %>
          </td>
          <td><%= task.taskname %></td>
          <td><%= task.status %></td>
          <td><%= task.deadline %></td>
          <td><%= task.created_at %></td>
          <td>
            <%= link_to 'Edit', "/tasks/#{task.id}/edit", method: :get %>
            <%= link_to 'Detail', task_path(task.id) %>
            <%= link_to 'Delete', task_path(task.id), method: :delete, id: :delete %>
          </td>
        </tr>
      </tbody>
      <% end %>
    <% end %>
    </table>
      <%= paginate(@tasks) %>
    <% else %>
      <div class="before">
        <section class="top">
          <div class="message">Manage your day with <br><span>Task App</span></div>
          <div class="btns">
            <%= link_to "Login", login_path, method: :get, class: :btn %>
            <%= link_to "Signup", new_admin_user_path, class: :btn %>
          </div>
        </section>


        <section class="middle">
          <div class="description">
            <div class="message">
              With Task App, <br>
              Priotize your tasks, and<br>
              Save your time<br>
            </div>
          </div>
          <div class="video">
            <%= image_tag 'app.png' , class: :app %>
            <div class="app">
              <%= image_tag  'video.png', class: :video %>
           </div>
          </div>
         
        </section>


        <section class="bottom">
        </section>
        <%= render 'layouts/footer'%>
      </div>
    <% end %>
  </div>
</div>
