<div class="form">
  <%= form_with(model: group, local: true) do |form| %>
      <% if group.errors.any?%>
      <%= group.errors.full_messages.count %>件のエラーが発生しました
      <% end %>
      <p>Group Name</p><%= form.text_field :name %>
      <p>Users</p><%= form.collection_check_boxes :user_ids, User.all, :id, :username %>

      <div class="save">
        <%= form.submit "Save" %>
      </div>
    <% end %>
</div>
