<div class="container">
  <div class="temp">
      <p>
        TOP
      </p>
      <%= link_to "Logout", destroy_user_session_path, method: :delete %>
    <div class="new">
      <%= link_to new_task_path do %>
        <%= image_tag 'plus.png' %>
      <% end %>
    </div>

    <div class="search">
    <%= form_with(url: tasks_searches_path, local: true, method: :get, class: "search-form") do |form| %>
      <%= form.text_field :keyword, placeholder: "タスクを検索する", class: "search-input" %>
      <%= form.submit "検索", class: "search-btn" %>
    <% end %>
    </div>


    <table class="tasks">

      <thead>
        <tr>
          <th id="taskname">Name of Task</th>
          <th>Deadline</th>
          <th>Created_at</th>
          <th>Manage</th>
        </tr>
      </thead>
    <% @tasks.each do |task| %>
      <% if current_user.id == task.user_id %>
      <tbody>
        <tr>
          <td><%= task.taskname %></td>
          <td><%= task.deadline %></td>
          <td><%= task.created_at %></td>
          <td>
            <%= link_to 'Edit', "/tasks/#{task.id}/edit", method: :get %>
            <%= link_to 'Detail', task_path(task.id) %>
            <%= link_to 'Delete', task_path(task.id), method: :delete, id: :delete %>
          </td>
        </tr>
      </tbody>
      <% end %>
    <% end %>
    </table>
    </div>
    </div>