<div class="box">
<%= form_with model: [:admin, @user], local: true do |f| %>
     <%= render 'layouts/error_messages', model: f.object%>
   <div class="title">
    <% if logged_in? %>
     Edit Account
    <% else %>
     Sign up
    <% end %>
   </div>
  

  <div class="contents">
  <%# if logged_in? %>
  <div class="form-item">
    <% if @user.image.present? %>
      <%= image_tag @user.image.thumb.url, id: :img_prev, class: "account" %>
    <% else %>
      <%= image_tag asset_path("account.png"), id: :img_prev, class: "account"  %>
    <% end %>
    <%= f.label :image do %>
      <div class='label'>
        <span>Select image</span>
      </div>
      <%= f.file_field :image, class: 'file' %>
    <% end %>
  </div>
  <%# end %>

    <div class="form-item">
      <p class="formLabel">User Name</p>
      <%= f.text_field :username, id: "username", class: "form-style", autocomplete:"off"%> 
    </div>


    <div class="form-item">
      <p class="formLabel">Email</p>
      <%= f.email_field :email, id: "email", class: "form-style", autocomplete:"off"%> 
    </div>


    <div class="form-item">
      <p class="formLabel">Password</p>
      <%= f.password_field :password, id: "password", class: "form-style", autocomplete:"off"%>
    </div>

    <div class="form-item">
      <p class="formLabel">Password Confirmation</p>
      <%= f.password_field :password_confirmation, id: "password_confirmation", class: "form-style", autocomplete:"off"%>
    </div>  

    <div class="form-item">
      <%= f.submit "Sign up", class:"login pull-right" %>
    </div>

    <div class="form-item">
    <% if current_user && current_user.admin?%>
      <div class="field">
        <%= f.label :admin, "admin"  %> <br />
        <%= f.check_box :admin %>
      </div>
    <% else %>
      <p><label for='checkoff'>権限付与を希望する場合は、管理者にお問い合わせください</label>
    <% end %>
    </div>
  </div>
<% end %>
</div>