  <div class="container">
  <div class="form">
    <div class="admins">

    <div class="new">
      <%= link_to new_admin_user_path do %>
        <div class="plus">
          <i class="fas fa-plus"></i>
        </div>
      <% end %>
    </div>
   <table>
    <thead>
      <tr>
        <th>タスクの数</th>
        <th><%= User.human_attribute_name(:username) %></th>
        <th><%= User.human_attribute_name(:email) %></th>
        <th><%= User.human_attribute_name(:admin) %></th>
        <th><%= User.human_attribute_name(:created_at) %></th>
        <th><%= User.human_attribute_name(:updated_at) %></th>
        <th>Manage</th>
      </tr>
    </thead>
    <tbody>
    <% @users.each do |user|%>
      <tr>
        <td>
          <%= user.tasks.count %>
        </td>
        <td><%= link_to user.username, [:admin, user] %></td>
        <td><%= user.email %></td>
        <td><%= user.admin? ? 'あり': 'なし' %></td>
        <td><%= user.created_at %></td>
        <td><%= user.updated_at %></td>
        <td>
          <%= link_to '編集', edit_admin_user_path(user) %>
          <%= link_to '削除', [:admin, user], method: :delete, data:{ confirm: "ユーザー「#{user.username}」を削除します。よろしいですか？"} %>
        </td>
      </tr>
    <% end %>
    </tbody>
   </table>
  </div>
  </div>
  </div>