

<div class="container">

  <div class="admins">
    <div class="container__task common">
    <h1>Admin Page</h1>
      <div class="new">
        <%= link_to new_user_path do %>
          <div class="plus">
            <i class="fas fa-plus"></i>
          </div>
        <% end %>
      </div>
      <table class="tasks">
        <thead>
          <tr>
            <th>タスク数</th>
            <th>グループ数</th>
            <th><%= sortable "username" %></th>
            <th><%= sortable "email" %></th>
            <th><%= sortable "admin" %></th>
            <th><%= sortable "created_at", "Created"  %></th>
            <th>Manage</th>
          </tr>
        </thead>
        <tbody>
        <% @users.each do |user|%>
          <tr>
            <td>
              <%= user.tasks.count %>
            </td>
            <td>
              <%= user.groups.count %>
            </td>
            <td><%= user.username %></td>
            <td><%= user.email %></td>
            <td class="admin">
              <% if user.admin? %>
                <p>&#x2611;</p>
              <% else %>
                <p>&#x2610;</p>
              <% end %>
            </td>
            <td><%= user.created_at.strftime('%Y/%m/%d') %></td>
            <td>
              <%= link_to '編集', edit_user_path(user), class: "btn" %>
              <%= link_to '詳細', user_path(user), class: "btn" %>
              <%#= link_to '削除', user_path(user), method: :delete, class: "btn" %>

              <a class="modal-open-btn btn accent delete"> 削除</a> 
              <%= link_to '', user_path(user), method: :delete, class: 'item-delete-btn' %>
            </td>
          </tr>



        <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>