<div class="header">


  <div class="title">
    <%= link_to root_path do %>
      Task App
    <% end %>
  </div>

  <%= link_to notifications_path , class: 'notification' do %>
    <% if unchecked_notifications.any? %>
    <span class="fa-stack">
      <i class="fas fa-bell fa-lg fa-stack-2x"> </i>
      <i class="fas fa-circle n-circle fa-stack-1x"> </i>
    </span>
    <% else %>
      <i class="fas fa-bell fa-lg"> </i>
    <%end%>
  <%end%>


  <div class="picture">
    <% if current_user %>
      <%= link_to user_path(current_user.id) do %>
      <% if current_user.image.present? %>
            <%= image_tag current_user.image.url %>
        <% else %>
            <%= image_tag 'account.png' %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>