<nav class="mobile-menu">
    <ul class="mobile-menu__main">
        <li class="mobile-menu__item">
            <% if logged_in? %>
            <% if current_user.image.present? %>
            <div class="mobile-menu__image">
                <div>
                    <%= link_to user_path(current_user), class: "picture" do %>
                        <div><%= image_tag current_user.image.url %></div>
                    <% end %>
                </div>
                <div class="right">
                    <%= link_to user_path(current_user) do %>
                        <span class="main-title"><%= current_user.username %></span>
                    <% end %>
                    <%= link_to logout_path, method: :delete do %>
                        <span class="sub-title">ログアウト</span>
                    <% end %>
                </div>
            </div>
            
            <% else %>
            <div class="mobile-menu__image">
                <div>
                    <%= link_to user_path(current_user), class: "picture" do %>
                        <div><%= image_tag 'account.png' %></div>
                    <% end %>
                </div>
                <div class="right">
                    <%= link_to user_path(current_user) do %>
                        <span class="main-title"><%= current_user.username %></span>
                    <% end %>
                    <%= link_to logout_path, method: :delete do %>
                        <span class="sub-title">ログアウト</span>
                    <% end %>
                </div>
            </div>
            <% end %>
            <% end %>
        </li>

        <li class="mobile-menu__item">
            <%= link_to tasks_calendar_path, class: "mobile-menu__link" do %>
                <span class="main-title">My calendar</span>
                <span class="sub-title">カレンダーをみる</span>
            <% end %>
        </li>
        <li class="mobile-menu__item">
            <%= link_to new_group_path, class: "mobile-menu__link" do %>
                <span class="main-title">New group</span>
                <span class="sub-title">グループを作成する</span>
            <% end %>
        </li>
        <li class="mobile-menu__item">
            <%= link_to groups_path, class: "mobile-menu__link" do %>
                <span class="main-title">My Group</span>
                <span class="sub-title">グループを見る</span>
            <% end %>
        </li>

        <% if logged_in? && current_user.admin? %>
        <li class="mobile-menu__item">
            <%= link_to admin_users_path, class: "mobile-menu__link" do %>
                <span class="main-title">Admin <span>*Only for admin</span></span>
                <span class="sub-title">管理画面</span>
            <% end %>
        </li>
        <% end %>
    </ul>
</nav>

      
      