<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>TaskApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%# favicon %>
    <link rel="icon" type="image/x-icon" href="image/icon.png">


    <%# font %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,500;1,900&display=swap" rel="stylesheet">

    <%# gon %>
     <%= include_gon %>
     
    <%# Chart.js %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>

  </head>

  <body>
    <div id="global-container"> 
      <%= render 'layouts/delete'%>
      <div id="container">
          <%= render 'layouts/flash'%>
          <%= render 'layouts/header'%>
          <%= yield %>
      </div>
      <%= render 'layouts/side'%>
    </div>
  </body>
</html>
